<nav class="navbar">
  <a href="#" class="toggledBtn">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="box navBarLinks">
    <ul class="pages">
      <li>
        <a href="/">Homepage</a>
      </li>
      <li>
        <a href="/series">Series</a>
      </li>
      <li>
        <a href="/movies">Movies</a>
      </li>
    </ul>
  </div>
  <img alt="NerdFlix Logo" src="../assets/nerdflix_logo.svg" class="box logo" />
  <div class="box likes">
    <img alt="Likes" src="../assets/star_icon.svg" />
    <span>5</span>
  </div>
</nav>
