<nav className="navbar">
  <a href="#" className="toggledBtn">
    <span className="bar"></span>
    <span className="bar"></span>
    <span className="bar"></span>
  </a>
  <div className="navBarLinks">
    <ul className="pages">
      <li>
        <a href="/#">Homepage</a>
      </li>
      <li>
        <a href="/#">Series</a>
      </li>
      <li>
        <a href="/#">Movies</a>
      </li>
    </ul>
  </div>
  <img alt="NerdFlix Logo" src="../assets/nerdflix_logo.svg" className="logo" />
  <div className="likes">
    <img alt="Likes" src="../assets/star_icon.svg" />
    <span>5</span>
  </div>
</nav>
