.nerdflix {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
}
.nerdflix > .title {
  background-color: #171717;
  width: 100vw;
}
.nerdflix > .title > h1 {
  align-self: flex-start;

  height: 10vh;
  padding-left: 5vw;
  padding-top: 2vh;
}
.list {
  display: flex;
  /*  gap: calc(1vw + 2vw); */
  flex-flow: wrap;
  justify-content: center;
  width: 95vw;
  height: 100%;
  padding-top: 2vw;
}
.nerdflix .movieWrapper {
  padding: 3vh 0.3vw;
  margin: 3vh 0.5vw;
  max-width: 182px;

  display: flex;
  flex-direction: column;
  justify-self: center;
}
.movieWrapper > .imageMovie {
  position: relative;
  overflow: hidden;
  max-width: 182px;
  max-height: 268px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}
.imageMovie > img {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  object-fit: cover;
}
.movieWrapper h5 {
  font-size: 12px;
  line-height: 14px;
  padding: 1vh 0;
}
.movieWrapper p {
  opacity: 0.49;
  font-size: 12px;
}
.imageMovie > .movieHover {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}
.movieHover > button {
  background: none;
  border: none;
}
.imageMovie > img,
.imageMovie > .movieHover {
  transition: 200ms ease-in-out;
}
.imageMovie > .movieHover {
  opacity: 0;
}
.imageMovie:hover > .movieHover {
  opacity: 1;
}

.movieHover > img {
  align-self: flex-end;
  justify-self: flex-start;
  height: 10%;
  padding: 0.5rem;
}
.movieHover > h3 {
  align-self: center;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  font-size: 50px;
  height: 90%;
}
.nerdflix > .header {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  z-index: 50;

  margin-top: -45px;
}
.sort > p {
  padding: 1rem 5rem 1rem 0;
}
.sort > button {
  background-color: #131313;
  border: solid 1px #2e2e2e;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  color: #fff;
}
.sort > button:hover {
  background-color: #2e2e2e;
}
