<div class="nerdflix">
  <h3 *ngIf="moviesList.length < 1">Loading...</h3>
  <div class="title">
    <h1>Movies</h1>
  </div>
  <div class="list">
    <div *ngFor="let movie of moviesList" class="movieWrapper">
      <div class="imageMovie" (click)="addFavorite(movie)">
        <img
          class="imageMovie"
          [src]="movie.urlPoster"
          alt="{{ movie.title }} image"
          onError="this.src='assets/error_image.png'"
        />
      </div>
      <h5>{{ movie.title }}</h5>
      <p>{{ movie.year }}</p>
    </div>
  </div>
</div>
